<h1 id="headline">View Order Details</h1>

<h2>Order # <%= @order.id %></h2>

<div class="row">
  <div class="col-sm-12 col-md-4">
    <%= image_tag(@order.product.image_url, class: "img-responsive") %>
  </div><!-- /image thumbnail -->

  <div class="col-sm-12 col-md-8">
    <h3><%= @order.product.name %></h3>

    <p><em><%= @order.product.description %></em></p>

    <h4>
      <strong>Ordered by: </strong>
      <%= @order.user.first_name + " " + @order.user.last_name %>
    </h4>

    <h4>
      <strong>Total: </strong>
      <%= number_to_currency(@order.total) %>
    </h4>
  </div>
</div>

<%= link_to 'Back', orders_path %>
